exampl.csv
example_root.csv
python_app6/keras_nn/logs/train/events.out.tfevents.1652112574.ivan-ms7b89.16966.0.v2
python_app6/keras_nn/fashion-mnist_train.csv
python_app6/keras_nn/logs/train/events.out.tfevents.1652110461.ivan-ms7b89.5550.0.v2
python_app6/keras_nn/logs/train/events.out.tfevents.1652111376.ivan-ms7b89.11069.0.v2
logs
